html, body {
	height:100%;
}
body {
	padding-top: 70px;
}


div#loading {
position:fixed;
top:0px;
right:0px;
width:100%;
height:100%;
    display: none;
    background-image:url(/static/images/loadingimage.gif);
    background-repeat:no-repeat;background-position:center;
    cursor: wait;
    }